! Use a nice truetype font and size by default... 
XTerm*renderFont: true
XTerm*faceName: JetBrainsMono NerdFont
XTerm*faceSize: 9
XTerm*utf8: 2

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

! I like a LOT of scrollback...
XTerm*savelines: 16384

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

XTerm*foreground: #bbc5ff
XTerm*background: #282a36
XTerm*cursorColor: #bbc5ff

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color

URxvt.font: xft:JetBrainsMono NerdFont:size=9
URxvt.scrollBar: false

URxvt*foreground:   #bbc5ff
URxvt*background:   [95]#282a36
URxvt*cursorColor:  #bbc5ff

